<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10.1.2 WKWebView的基本使用—加载网页.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>10.1.3 网页浏览控制.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>10.1.4 加载本地文件.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>10.1.5 WKWebView代理协议之WKNavigationDelegate.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>10.2.1 UITextView的基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>10.2.2 UITextView的代理方法.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>10.3.2 UIPageControl实际应用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>10.4.2 UIPickerView的基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>10.4.3 相互依赖的多列选择器.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>10.5.2 UISlider实例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>10.6.2 UIDatePicker基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>10.7.2 UISegmentedControl实例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>11.1 线程(Thread)基础知识.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>11.2.2 队列与任务组合.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>11.2.3 线程间通信.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>11.2.4 队列组dispatch group.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>11.2.5 延迟执行操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>11.3.1 NSOperation基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>11.3.2 线程间通信.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>11.3.3 任务间的执行依赖.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>12.6 GET请求与POST请求使用示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>12.8Reachability检测网络状态.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>13.1.1 沙盒基础.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>13.2.1 Plist简介.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>13.2.2 Plist文件的读取.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>13.2.3 Plist文件的写入.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>13.2.4 操作实例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>13.3.2 读写示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>13.4.2 单个对象归档、解档.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>13.4.2单个对象归档、解档.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>13.4.3 自定义对象归档、解档.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>13.4.4 归档多个自定义对象.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>13.4.5 子类对象的归档.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>13.4.6 归档多个不同类型的对象.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>13.5.1 数据库的操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>13.5.2 表的操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>13.5.3 sqlite3 的基本操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>13.6 FMDB.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>13.7 CoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>13.7CoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>13.8 Realm.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>14.1.3 绘图方法和步骤.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>14.1.4 常见图形的绘制方法.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>14.2.1 绘制图片.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>14.2.2 添加水印.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>14.2.3 裁剪圆形图片.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>14.2.4 截屏.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>14.3.1 CALayer简介.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>14.4.2 动画的实现步骤.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>14.4.4 CABasicAnimiation基本动画.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>14.4.5 CAKeyframeAnimation关键帧动画.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>14.4.6 CASpringAnimation弹簧动画.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>14.4.7 CAAnimationGroup动画组.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>14.4.8 CATransition转场动画.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>15.2 单例singleton模式.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>15.2单例singleton模式.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>16.1 自动布局简介.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>16.2 Masonry.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>17.1.1 获取设备基本信息.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>17.1.2 获取电池信息batteryState.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>17.1.3 接近传感器proximityState.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>17.1.4 方向传感器orientation.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>17.2.2 CoreLocation框架的基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>17.2.4 CLGeocoder应用案例1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>17.2.5 CLGeocoder应用案例2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>17.3.2 MKMapView的基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>17.3.4 简易地图标注示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>17.3.6 复杂地图标注示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>17.4.2 UIImagePickerController的使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>17.5.2-1 加速计的裸数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>17.5.2-2 陀螺仪的裸数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>17.5.2-3 磁力计的裸数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>17.5.3 CMDeviceMotion.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>17.6.1 拨打电话功能.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>17.6.2 发送短信功能.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>17.6.3 发送邮件功能.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>20.2 使用AVFoundation框架实现扫描二维码.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>21.2 高德地图.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>21.3 SDWebImage.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>21.4 免费短信验证码.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>21.5.2 MBProgressHUD基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>21.6.2 YYModel使用案例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>6.1.1 深复制与浅复制.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>6.1.2 可变对象复制与不可变对象复制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>6.1.2.1NSString对象拷贝.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>6.1.2.2NSMutableString对象拷贝.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>6.1.2.3NSArray对象的拷贝.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>6.1.2.4NSMutableArray对象拷贝.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>6.1.2.5NSDictionary对象复制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>6.1.2.6NSMutableDictionary对象复制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>6.1.3 自定义对象复制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>6.2 内存管理.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>6.3.1 宏定义.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>6.3.2 #import、#include与@class.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>6.3.3 条件编译01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>6.3.3 条件编译02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>6.3.3 条件编译03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>6.4.2 定制输入日志的格式.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>6.5.1 结构的定义与基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>6.5.2 结构的嵌套.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>7.2.10 使用XIB创建自定义UIView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>7.2.11 控件改变坐标系.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>7.2.2 视图UIView的外观.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>7.2.3 视图UIView的形变.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>7.2.4 视图UIView的层次关系.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>7.2.5 视图UIView的动画.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>7.2.6 响应用户交互事件.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>7.2.7 内容模式contentMode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>7.2.8 图片拉伸.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>7.2.9 使用代码创建自定义UIView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>7.3.1 基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>7.3.2UIImageView常用操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>7.4.1 UIButton基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>7.4.2 按钮的创建.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>7.4.3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>7.5.1 UILabel简介.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>7.5.2 常用的UILabel使用场景.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>7.6 提示框控件.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>7.7.1 UITextField的基本属性.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>7.7.2 UITextField的代理方法简介.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>7.7.3 UITextField的代理方法实例之键盘回收.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>7.7.4 UITextField的代理方法实例之字数限制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>8.1.1 UIScrollView基本使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>8.1.2 UIScrollView常用代理方法的实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>8.1.3 视图的缩放功能.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>8.2.10 自定义Cell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>8.2.12 动态调整Cell高度（self-sizing）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>8.2.13 动态调整Cell高度（代码）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>8.2.14 UITableView+FDTemplateLayoutCell计算Cell高度.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>8.2.15 改变Cell位置.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>8.2.16 UITableView的Header和Footer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>8.2.17 去除多余的单元格分割线.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>8.2.4 UITableView创建示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>8.2.5 代理方法之点击单元格.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>8.2.6 代理方法之编辑单元格.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>8.2.7 UITableViewCell性能优化.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>8.2.9 分段Section实现示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>8.3.3 最简单的集合视图实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>8.3.5 UICollectionView代理方法实例.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>8.3.7 UICollectionViewFlowLayout使用实例.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>8.3.8 UICollectionViewDelegateFlowLayout类的代理方法实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>8.3.9 自定义Cell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>8.4.2 点击手势UITapGestureRecognizer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>8.4.3 捏合与旋转手势UIPinchGestureRecognizer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>8.4.4 滑动手势UISwipeGestureRecognizer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>8.4.5 拖动手势UIPanGestureRecognizer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>8.4.6 长按手势UILongPressGestureRecognizer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>9.1.1 使用代码创建控制器.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>9.1.2 使用xib以及Storyboard创建控制器.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>9.1.3 控制器的生命周期.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>9.1.4 使用Storyboard切换控制器.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>9.1.6 控制器嵌套.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>9.2.1 创建导航控制器.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>9.2.10 UINavigationItem显示原始图片样式.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>9.2.12 顺传数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>9.2.13 使用代理逆传数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>9.2.14 使用通知逆传数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>9.2.15 使Block逆传数据.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>9.2.5 barStyle属性.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>9.2.6 barTintColor与tintColor.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>9.2.7 导航栏设置背景图片.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>9.2.9 UINavigationItem定制示例.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>9.3.4 微信TabBar实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>iOS开发从零基础到精通.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0423493F2197567400640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234961219756FC00640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0423497B2197573600640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042349992197578C00640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042349B92197583300640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042349D52197587200640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042349F4219758F600640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234A242197597F00640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234A4021975A6600640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234A5C21975AFB00640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234A7621975B3600640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234A9021975B5800640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234AAC21975BC400640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234ACA21975C0100640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04234AE621975C6F00640D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B12DF219216B900BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B12F92192184D00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13132192188100BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B132D219218CD00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13412192192B00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B135B219219D100BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B137521921A3400BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B138F21921A7E00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13A921921ACC00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13C321921B1C00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13DD21921B6000BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B13F721921BAA00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B141121921C4200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B142D21921CBC00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B144A21921D7200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B146E21921E2200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B148D21921E9000BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B14AA21921EEE00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B14C421921F0900BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B14DE21921F3A00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B15032192203200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B154E2192228800BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B156B2192230E00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B15882192235300BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B15A5219223A300BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B15D92192249400BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B15F5219224B200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B16142192252F00BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B1636219225A200BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B16582192262900BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044B167D219226A500BA5582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF27E21A3103800547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF29821A3107300547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF2BA21A3110500547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF2DA21A3115500547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF2FA21A311F300547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF31A21A3126100547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF33421A312E100547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF34E21A3137900547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF36821A313B200547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF38221A313DF00547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF39C21A3141700547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF3B621A3143800547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF3D321A314A100547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF3EF21A314FE00547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF41621A315D500547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049BF43521A3162C00547981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2CDF219C690C003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2CFC219C69DE003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D16219C6CB2003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D30219C6D24003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D4A219C6DC1003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D64219C6E50003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D81219C6F20003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2D9B219C6FF4003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2DB5219C7076003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2DCF219C70FD003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2DEB219C71B8003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE2E05219C720C003C179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F420782191266C00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42095219126D600F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F420B32191279F00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F420D42191288100F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4210721912C1E00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4216121912D9700F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4218621912F6000F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F421A621912FDE00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F421CA219130A500F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F421EA2191311700F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F422062191317E00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42222219131D800F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4223E2191323000F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4225A2191326E00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42276219132B600F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42292219132FA00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F422AE2191334800F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F422C82191338900F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F422E2219133C100F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F422FE2191341400F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4231A2191345800F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42336219134AF00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F42352219134F000F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F4236C2191352A00F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F423862191355800F99C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBABDA523FF9195009168F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFFEB892406257200C8F19C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
