<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   13.2.2 Plist文件的读取

   Created by 李维佳 on 2017/4/4.
   Copyright (c) 2017年 Liz. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
